on post-fs-data
    mkdir /data/vendor/nfc 0770 nfc nfc

on boot
    # Add a cpuset for the camera daemon
    # We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chown cameraserver cameraserver /mnt/vendor/persist/camera
    chown cameraserver cameraserver /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chown cameraserver cameraserver /mnt/vendor/persist/camera/jiigan_dc_cal.bin
    chown cameraserver cameraserver /mnt/vendor/persist/camera/com.xiaomi.dcal.wd.bin
    chmod 0660 /dev/cpuset/camera-daemon/tasks
    chmod 0775 /data/vendor/camera
    chmod 0644 /data/vendor/camera/com.xiaomi.dcal.wd.bin
	
service vendor.stflashtool /vendor/bin/STFlashTool
    class late_start
    group nfc
    user nfc
    disabled
    oneshot

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service.st
    override
    class hal
    user nfc
    group nfc
    disabled

on post-fs && property:ro.boot.hwname=spesn
    start vendor.stflashtool

on boot && property:ro.boot.hwname=spesn
    start vendor.nfc_hal_service
